<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head')  %> 
</head>
<body>
 <header> 
    <header> 
        <%- include('../../layout/header')  %> 
    
    </header>

    <main class="books"> 
        
        <%- include('./detail')  %> 
    </main>
    
 

<footer></footer>
</body>
</html>