<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head')  %> 
</head>
<body>
 <header> 
    <header> 
        <%- include('../../layout/header')  %> 
    
    </header>

    <main class="books"> 
        
        <%- include('./detail')  %> 
        <%- include('./edit.ejs')  %> 
       
    </main>
 
    
 

<footer></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/app.js"></script>
</body>
</html>