<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
        <h1>Best Books</h1>
        <div><p>Search by Title or Author</p></div>
    </header>
    <main>
    <form action="/searches" method="POST"> 
       <div>
        <input type="text" name="search" id="search" placeholder="Enter title or author" > 
       </div>
       <div  class="options" >
        <label for="title">Title</label>
        <input type="radio" name="searchOption" id="title" value="intitle">
       </div>
       <div  class="options" >
        <label for="author">Author</label>
        <input type="radio" name="searchOption"  id="author" value="inauthor">
        </div>
        <div>
        <button>Search the Google Books API</button>
        </div>
    </form>
  </main>  
  <footer> </footer>
</body>
</html>